Repository kyegomez/swarms, pull requests merged in 2024-08, with the labels that each got.

#551 feat: add docs for agents api
  docs/swarms_platform/agents_api.md
  docs/swarms_platform/fetch_agents.md
Labels: documentation

#552 [fix] update Swarms Platform link to https://swarms.world
  README.md
Labels: documentation

#557 AGENTOPS FIX
  playground/agents/monitoring/agent_ops.py
  playground/agents/monitoring/agent_ops_tools.py
  swarms/structs/agent.py
  swarms/structs/base_swarm.py
  swarms/structs/rearrange.py
  swarms/tools/tool_parse_exec.py
Labels: structs, tools

#576 adding NON-BREAKING/BACKWARDS-COMPATIBLE support for LangChain's v1 astream event
  examples/swarms/rearrange/example.py
  swarms/structs/agent.py
  swarms/structs/rearrange.py
Labels: structs
