Repository kyegomez/swarms, pull requests merged in 2025-06, with the labels that each got.

#855 Update README and Examples: Remove swarms.models Usage, Integrate Models Directly into Agents with LiteLLM
  README.md
Labels: documentation, structs

#873 Fixed #865 DeepResearchSwarm
  swarms/structs/deep_research_swarm.py
Labels: structs

#875 [docs][maintenance][cleanup][bounty-eligible] Remove zero byte documentation files
  docs/applications/compliance_swarm.md
  docs/applications/enterprise.md
  docs/swarms/examples/agent_with_mcp.md
  docs/swarms/models/langchain.md
  docs/swarms/prompts/8020.md
  docs/swarms/structs/various_swarm_architectures.md
  docs/swarms_platform/share_discover.md
Labels: documentation

#878 [fix][compatibility][deps][bugfix][bounty-eligible] Fix field_validator syntax for Pydantic v2
  swarms/structs/agent_rag_handler.py
Labels: structs

#883 [perf][fix][utils][bounty-eligible] Update worker count in ThreadPoolExecutor
  swarms/utils/vllm_wrapper.py
Labels: utils

#898 replace-conditionals-with-factory-pattern
  swarms/agents/reasoning_agents.py
Labels: agents

#902 [docs][example][reasoningduo][bounty-eligible] Add example for batched task initialization
  docs/swarms/agents/reasoning_duo.md
  examples/models/reasoning_duo_batched.py
Labels: documentation

#905 [docs][example][workflow]Create example script for graph workflow
  docs/examples/index.md
  examples/structs/graph_workflow_basic.py
Labels: documentation

#927 feat: Implement real-time streaming with Rich UI for Agent responses
  stream_example.py
  swarms/structs/agent.py
  swarms/utils/formatter.py
  swarms/utils/litellm_wrapper.py
Labels: prompts, structs, telemetry, utils

#923 Fix: Gracefully handle None LLM responses to prevent agent crashes
  examples/multi_modal/multimodal_example.py
  swarms/structs/agent.py
  swarms/tools/base_tool.py
Labels: structs, tools
