Repository kyegomez/swarms, pull requests merged in 2025-01, with the labels that each got.

#714 fix datetime utc compatibility
  swarms/structs/multi_agent_orchestrator.py
Labels: structs

#720 [README]
  README.md
Labels: documentation

#723 typo
  README.md
Labels: documentation

#747 docs: remove duplicated words
  docs/swarms_cloud/architecture.md
Labels: documentation

#748 add graphs
  README.md
Labels: documentation

#739 Update README.md with working discord link
  README.md
Labels: documentation

#745 Imporve the UX of CLI and Add onboard examples
  examples/onboard/agents.yaml
  examples/onboard/onboard-basic.py
  swarms/agents/create_agents_from_yaml.py
  swarms/cli/main.py
Labels: agents
