Repository kyegomez/swarms, pull requests merged in 2025-09, with the labels that each got.

#1057 MCP Agent Tool Docs (with Single Agent and Multi Agent [Sequential])
  docs/examples/mcp_ds.md
  docs/mkdocs.yml
  examples/mcp/deploy_mcp_server/mcp_agent_tool.py
  examples/mcp/deploy_mcp_server/multiagent_client.py
  examples/mcp/deploy_mcp_server/singleagent_client.py
Labels: documentation

#1065 MCP Asyncio Loop Error Fix: SSE -> Streamable. Resolves #879.
  examples/mcp/servers/okx_crypto_server.py
  swarms/tools/mcp_client_tools.py
Labels: tools

#1069 Fixed mcp_ds.md routing for documentation
  docs/mkdocs.yml
Labels: documentation

#1084 [FEAT-AGENT][Added fallback models function to agent, if primary model were to fail]
  docs/mkdocs.yml
  docs/swarms/utils/fallback_models.md
  swarms/structs/agent.py
Labels: documentation, structs

#1101 [BUG-LiteLLM][Removed OpenAIFunctionCaller completely, and replaced with LiteLLM]
  examples/demos/hackathon_feb16/sarasowti.py
  examples/demos/spike/agent_rearrange_test.py
  examples/demos/spike/function_caller_example.py
  examples/demos/spike/test.py
  examples/multi_agent/asb/auto_agent.py
  examples/multi_agent/hiearchical_swarm/hierarchical_swarm_example.py
  examples/multi_agent/hiearchical_swarm/hs_stock_team.py
  pyproject.toml
  requirements.txt
  swarms/structs/meme_agent_persona_generator.py
  swarms/structs/model_router.py
  swarms/utils/function_caller_model.py
  tests/test_comprehensive_test.py
Labels: tests, structs, utils

#1104 [PROMPTS][Fixed & improved `Heavy_swarm` prompts to be more concise, to the point, and debloated.]
  swarms/structs/heavy_swarm.py
Labels: structs

#1106 [CLEANUP/BUGF-DOCS][Cleaned up and fixed certain docs either not working, or not existing at all]
  docs/mkdocs.yml
Labels: documentation
