Repository kyegomez/swarms, pull requests merged in 2025-07, with the labels that each got.

#915 Implement Agent Instance Caching Mechanism for ReasoningAgentRouter
  swarms/agents/reasoning_agents.py
Labels: agents

#944 Enhance vision processing by supporting direct URL usage and adding utility methods
  swarms/utils/litellm_wrapper.py
  tests/utils/test_litellm_wrapper.py
Labels: tests, utils

#973 fix random_speaker issues
  swarms/structs/interactive_groupchat.py
Labels: structs

#978 fix streaming in ConcurrentWorkflow !
  examples/multi_agent/concurrent_examples/streaming_concurrent_workflow.py
  swarms/structs/agent.py
  swarms/structs/concurrent_workflow.py
Labels: structs

#999 Cleanup !
  docs/llm.txt
  docs/swarms/changelog/5_6_8.md
  docs/swarms/changelog/5_8_1.md
  docs/swarms/changelog/6_0_0 2.md
  docs/swarms/changelog/6_0_0.md
  docs/swarms/changelog/changelog_new.md
  docs/swarms/structs/taskqueue_swarm.md
  examples/single_agent/rag/qdrant_agent.py
  swarms/structs/agent.py
Labels: documentation, structs
