Repository kyegomez/swarms, pull requests merged in 2025-08, with the labels that each got.

#987 [FEAT] Docs and frameworks for Board Of Directors
  docs/mkdocs.yml
  docs/swarms/structs/BoardOfDirectors.md
  examples/multi_agent/board_of_directors/board_of_directors_example.py
  swarms/structs/board_of_directors_swarm.py
  tests/structs/test_board_of_directors_swarm.py
Labels: documentation, tests, structs

#1008 [feat] Deployment using Cloudflare workers [Docs]
  docs/mkdocs.yml
  docs/swarms_cloud/cloudflare_workers.md
Labels: documentation

#1000 add stagehand example
  examples/stagehand/1_stagehand_wrapper_agent.py
  examples/stagehand/2_stagehand_tools_agent.py
  examples/stagehand/3_stagehand_mcp_agent.py
  examples/stagehand/4_stagehand_multi_agent_workflow.py
  examples/stagehand/README.md
  examples/stagehand/requirements.txt
  tests/stagehand/test_stagehand_integration.py
  tests/stagehand/test_stagehand_simple.py
Labels: tests

#995 Fix: Optimize Conversation History Token Truncation Algorithm
  examples/utils/misc/conversation_test.py
  examples/utils/misc/conversation_test_truncate.py
  swarms/structs/conversation.py
Labels: structs

#801 Feature/improve tool agent exceptions
  swarms/agents/exceptions.py
  swarms/agents/tool_agent.py
  tests/agents/test_tool_agent.py
Labels: tests, utils, agents

#1022 [Feat] AgentLoader utility for loading agents
  docs/mkdocs.yml
  docs/swarms/utils/agent_loader.md
  examples/agent_loader/agent_loader_demo.py
  examples/agent_loader/finance_advisor.md
  examples/agent_loader/multi_agents_loader_demo.py
  swarms/utils/__init__.py
  swarms/utils/agent_loader.py
Labels: documentation, utils
